html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
body {
  background-image: linear-gradient(to top left, #494949 0%, #040404 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
