.square {
  color: white;
  font: normal normal normal 16px/1.4 Georgia;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 80px;
  height: 80px;
  padding: 0px;
}
.even {
  background-color: #9994a1;
  background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
  transform: rotate(90deg);
}
.odd {
  background-color: #14000b;
  background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
}
